.animated {
  background: linear-gradient(
    to right,
    hsl(var(--foreground) / 0.3) 15%,
    hsl(var(--foreground) / 0.85) 35%,
    hsl(var(--foreground) / 0.85) 65%,
    hsl(var(--foreground) / 0.3) 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
